@charset "utf-8";
/* CSS Document */
/* 
    Created on : Mar 6, 2015, 12:41:33 PM
    Author     : curvejumper
*/
body {
    background-color: white;
}

.banner{
    background-color: #cee3f8;
    color: white;
    text-align: center;
    padding:5px;
}
/*anything you want to happen to EVERYTHING 
about the link table*/
.linkTable{
    background-color:#09F;
    text-align: center;
    width: 15%;
    height: 10%;
    vertical-align: top
}
/*anything you want to happen to EVERYTHING about
the category table*/
.categoryTable {
    background-color: #09F;
    text-align: center;
    width: 10%;
    height: 10%;
    vertical-align: top;
}

button#trashButton {
    background-color: palevioletred;
    border: none;
}

button:hover#trashButton {
    background-color: buttonshadow;
}

button#sexybuttons {
    background-color: white;
    border: none;
}

button:hover#sexybuttons {
    background-color: buttonshadow;
} 

button#headerbutton {
    background-color: white;
    border: none;
    float: left;
}

button:hover#headerbutton {
    background-color: buttonshadow;
}

a#logout {
    float: right;
    text-decoration: none;
    color: white;
}

a:hover#logout {
    color: black;
}

a#categoryLink {
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover#categoryLink {
    color: black;
}

table.categoryTable {
    border: solid;
    border-color: buttonface;
}

.dragover tbody{
    border-style: solid;
    border-color: black;
}

table.categoryTable {
    min-width: 25%;
    margin: 5px;
}

table.linkTable {
    min-width: 25%;
    margin: 5px;
}

.centered {
    text-align: center;
}

label {
    font-size: x-large;
}