@charset "utf-8";
/* CSS Document */
/* 
    Created on : Mar 6, 2015, 12:41:33 PM
    Author     : curvejumper
*/
body {
    background-color: white;
}

.banner{
    background-color: #cee3f8;
    color: white;
    text-align: center;
    padding:5px;
}
/*anything you want to happen to EVERYTHING 
about the link table*/
.linkTable{
    background-color:#09F;
    text-align: center;
    width: 15%;
    height: 10%;
    vertical-align: top
}
/*anything you want to happen to EVERYTHING about
the category table*/
.categoryTable {
    background-color: #9CF0F0;
    text-align: center;
    width: 10%;
    height: 10%;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

a:hover {
    color: black;
}

.categoryTable table:hover {
}

.dragover tbody{
    border-style: solid;
    border-color: black;
}